<section class="section-body experience">
  <h1 class="section-title">Experience</h1>
    <table class="icon-set">
      <tr>
        <th><%= image_tag "music-icon.png", class: "icon-graphic" %></th>
        <th><%= image_tag "tent-icon.png", class: "icon-graphic" %></th>
        <th><%= image_tag "compass-icon.png", class: "icon-graphic" %></th>
      </tr>
      <tr class="description description-title">
        <td>Music</td>
        <td>Camping</td>
        <td>Nature</td>
      </tr>
      <tr class="description">
        <td>Three days of incredible music</td>
        <td>Luxury glamping in the alps</td>
        <td>World class hiking trails</td>
      </tr>
    </table>
</section>
