<section class="info-card">
  <%= image_tag "icon.png", class: "icon" %>
    <h1>Lauterbrunnen Valley Music Festival</h1>
  <%= image_tag "icon.png", class: "icon" %>
  
  <h4>02 June 2017 - 04 June 2017</h4>
  <h4>Männlichen, Switzerland</h4>
</section>
