<section class="section-body lineup">
  <h1 class="section-title">Lineup</h1>
  <h3 class="section-title section-subtitle">Friday 02 June 2017</h3>
  <p class="artists">
    <span class="biggest">
      Lana Del Rey  <span class="bullet">&#9651;</span>
      The Weeknd  <span class="bullet">&#9651;</span>
      Years & Years  <span class="bullet">&#9651;</span>

    </span>
    <span class="bigger">
      The 1975  <span class="bullet">&#9651;</span>
      ZAYN  <span class="bullet">&#9651;</span>
      Tegan and Sara  <span class="bullet">&#9651;</span>
      Grimes  <span class="bullet">&#9651;</span>
      Jarryd James  <span class="bullet">&#9651;</span>
      Alina Baraz  <span class="bullet">&#9651;</span>
      Diplo  <span class="bullet">&#9651;</span>
      Calvin Harris  <span class="bullet">&#9651;</span>
      Lil' Wayne  <span class="bullet">&#9651;</span>
      Post Malone  <span class="bullet">&#9651;</span>
      Marina and the Diamonds  <span class="bullet">&#9651;</span>
      Sleater-Kinney <span class="bullet">&#9651;</span>
    </span>
    <span class="big">
      BØRNS  <span class="bullet">&#9651;</span>
      Underoath  <span class="bullet">&#9651;</span>
      Emery  <span class="bullet">&#9651;</span>
      Colony House  <span class="bullet">&#9651;</span>
      James Vincent McMorrow  <span class="bullet">&#9651;</span>
      DJ Khaled  <span class="bullet">&#9651;</span>
      Demi Lovato  <span class="bullet">&#9651;</span>
      Nick Jonas  <span class="bullet">&#9651;</span>
      Hanson  <span class="bullet">&#9651;</span>
      Father John Misty  <span class="bullet">&#9651;</span>
      James Bay  <span class="bullet">&#9651;</span>
      Flores  <span class="bullet">&#9651;</span>
    </span>
  </p>

  <h3 class="section-title section-subtitle">Saturday 03 June 2017</h3>
  <p class="artists">
    <span class="biggest">
      Justin Bieber  <span class="bullet">&#9651;</span>
      Rihanna  <span class="bullet">&#9651;</span>
      Banks  <span class="bullet">&#9651;</span>

    </span>
    <span class="bigger">
      The Chainsmokers <span class="bullet">&#9651;</span>
      St. Lucia  <span class="bullet">&#9651;</span>
      James Blake <span class="bullet">&#9651;</span>
      Capital Cities  <span class="bullet">&#9651;</span>
      Flume  <span class="bullet">&#9651;</span>
      M83  <span class="bullet">&#9651;</span>
      Zedd  <span class="bullet">&#9651;</span>
    </span>

    <span class="big">
      The Civl Wars  <span class="bullet">&#9651;</span>
      Frances  <span class="bullet">&#9651;</span>
      Gallantis  <span class="bullet">&#9651;</span>
      Glass Animals  <span class="bullet">&#9651;</span>
      Odesza  <span class="bullet">&#9651;</span>
      Tove Lo  <span class="bullet">&#9651;</span>
      Phantogram  <span class="bullet">&#9651;</span>
      Purity Ring <span class="bullet">&#9651;</span>
      Rudimental  <span class="bullet">&#9651;</span>
      Troye Sivan  <span class="bullet">&#9651;</span>
      Two Door Cinema Club  <span class="bullet">&#9651;</span>
      ZHU  <span class="bullet">&#9651;</span>
      FKA Twigs  <span class="bullet">&#9651;</span>
    </span>
  </p>

  <h3 class="section-title section-subtitle">Sunday 04 June 2017</h3>
  <p class="artists">
    <span class="biggest">
      Beyonce  <span class="bullet">&#9651;</span>
      Sam Smith  <span class="bullet">&#9651;</span>
      Ariana Grande <span class="bullet">&#9651;</span>

    </span>
    <span class="bigger">
      Selena Gomez  <span class="bullet">&#9651;</span>
      James Blake  <span class="bullet">&#9651;</span>
      The Chainsmokers  <span class="bullet">&#9651;</span>
      Calvin Harris  <span class="bullet">&#9651;</span>
      Sir Sly <span class="bullet">&#9651;</span>
    </span>

    <span class="big">
      Mac Miller  <span class="bullet">&#9651;</span>
      Lizzo  <span class="bullet">&#9651;</span>
      Låpsley  <span class="bullet">&#9651;</span>
      CHVRCHES  <span class="bullet">&#9651;</span>
      Kiiara  <span class="bullet">&#9651;</span>
      Broods  <span class="bullet">&#9651;</span>
      Hozier  <span class="bullet">&#9651;</span>
      Halsey <span class="bullet">&#9651;</span>
      Grouplove  <span class="bullet">&#9651;</span>
      Chet Faker  <span class="bullet">&#9651;</span>
      Andrew Belle  <span class="bullet">&#9651;</span>
      Ingrid Michaelson  <span class="bullet">&#9651;</span>
      Greg Laswell  <span class="bullet">&#9651;</span>
    </span>
  </p>
</section>
