<div class="nav middle-nav">
  <ul>
    <li><a onclick="$('.lineup').animatescroll();">Lineup</a></li>
    <li><a onclick="$('.experience').animatescroll();">Experience</a></li>
    <li><a onclick="$('.tickets').animatescroll();">Tickets</a></li>
    <li><a onclick="$('.directions').animatescroll();">Getting Here</a></li>
    <li><a onclick="$('.footer').animatescroll();">About</a></li>
  </ul>
</div>
