<footer class="mobile-footer">
  <p class="copyright">COPYRIGHT © 2016, WEBSITE, GRAPHIC DESIGN, AND PHOTOGRAPHY BY <a href="https://hanna-taylor.com">HANNA TAYLOR</a></p>
  <div class="social">
    <a href="https://github.com/hannataylor"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://hanna-taylor.com"><i class="fa fa-laptop" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/in/hannataylor"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://twitter.com/hanna__taylor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://instagram.com/hanna__taylor"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
