<!-- Navbar -->
<nav class="nav">
  <ul>
    <li><a onclick="$('.lineup').animatescroll();">Lineup</a></li>
    <li><a onclick="$('.tickets').animatescroll();" id="tickets">Tickets</a></li>

  </ul>
</nav>
<!-- End of navbar -->
