<section class="section-body tickets">
  <h1 class="section-title">Tickets</h1>
  <table class="icon-set ticket-table">
    <tr class="description description-title">
      <th>GA</th>
      <th>VIP</th>
    </tr>
    <tr class="prices">
      <td>
        <h2>3-Day GA Ticket</h2>
        <h1 class="biggest">$350</h1>
        <h2>1-Day GA Ticket</h2>
        <h1 class="biggest">$120</h1>
          <div class="modal-container">
            <div id="ga-details" class="modal">
              <h4>General Admission tickets grant access to the festival.</h4>
            </div>
          </div>
           <a href="#ga-details" class="myBtn" rel="modal:open">Details</a>
      </td>
      <td>
        <h2>Super VIP Ticket</h2>
        <h1 class="biggest">$1050</h1>
        <h2>VIP Ticket</h2>
        <h1 class="biggest">$675</h1>
          <div class="modal-container">
            <div id="vip-details" class="modal">
              <h4>VIP tickets grant access to the festival, private bathroom facilities,
                  food vendor tokens, VIP Lounge, and front row access.</h4>
              <h4>Super VIP tickets grant access to the festival,
                meet-and-greets with all artists, on-site concierge,
                backstage open bar, side-stage access, private bathroom facilities,
                festival merchandise pack, food vendor tokens, VIP Lounge, and
                front row access.</h4>
            </div>
          </div>
           <a href="#vip-details" class="myBtn" rel="modal:open">Details</a>

      </td>
    </tr>
  </table>
</section>
