---
title: Lauterbrunnen Valley Music Festival
---

<!-- Navbar -->
<nav class="nav">
  <ul>
    <li><a href="#">Lineup</a></li>
    <li><a href="#">Information</a></li>
    <li><a href="#" id="tickets">Tickets</a></li>
  </ul>
</nav>
<!-- End of navbar -->


<%= image_tag "hero.png", class: "hero", id: "header" %>
<div class="hero-logo">
  <%= image_tag "logo-text.png" %>
</div>
